body {
   
}

/* General*/





/*Default page*/



.main_button_to_products {
    background-color: greenyellow;
    height: 75px;
    padding-top: 25px;
}

    .main_button_to_products:hover {
        background: linear-gradient(to right,greenyellow, #005580);
        color: white;
    }

    .jumbotron {
        padding:10px;
       
    }





.lead-title {
    color: black;
    font-family: Arial;
    font-size: 64px;
}

.lead{

color:black;
margin-left:0px;

}


/*About us Page*/

.About_us-title {
    font-size:78px;
}

.About_us_info{

font-size: 20px;



}


/*Master Page*/
.navbar-brand {
    background-color: greenyellow;
    border-bottom-left-radius: 80%;
    border-bottom-right-radius: 80%;
}

#Banner {
    
    background-position:center;
    width:100%;
    border-bottom-left-radius: 30%;
    border-bottom-right-radius: 30%;
}

#Icon {
    width: 20%;
    height: auto;
    position: absolute;
    top: 4px;
    left: 25px;
    z-index: 2;
}




/*Product Page*/

.img-responsive car1 {
 
    float: left;
    width: 33.33%;
    padding: 5px;

}

