body {
}


/* General*/





/*Default page*/





    /*Master Page*/



.navbar-brand {
    
    background-color:greenyellow;
    border-bottom-left-radius: 80%;
    border-bottom-right-radius: 80%;
    
}



.BannerBox {
    width: 1020px;
    height: 103px;
    background-image: url(../Images/Banner.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 150px;
  

    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}
#Imageicon {

    height:95px;
    margin-left:250px;
    margin-top:-142px;
}

/*Product Page*/



